<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with home icon" href="http://localhost:4200">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with list icon" href="http://localhost:4200/login">
        <mat-icon>list</mat-icon>
      </button>
      <span>Murilo's PetShop</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with search icon">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
