<ul class="menu">
  <a href="https://www.nike.com.br/nav/categorias/tenis/genero/masculino/tipodeproduto/calcados">CALÇADOS</a>
  <a href="https://www.nike.com.br/nav/categorias/camisetas/genero/masculino/idade/adulto/tipodeproduto/roupas">CAMISETAS</a>
  <a href="https://www.nike.com.br/nav/categorias/shorts/genero/masculino/idade/adulto/tipodeproduto/roupas">SHORTS</a>
  <a href="https://www.nike.com.br/nav/genero/masculino/idade/adulto/tipodecamiseta/camisasdetimes/tipodeproduto/roupas">CAMISAS</a>
  <a href="https://www.nike.com.br/nav/categorias/jaquetasmoletons/genero/masculino/idade/adulto/tipodeproduto/roupas">JAQUETAS</a>
  <a href="https://www.nike.com.br/nav/genero/masculino/idade/adulto/tipodeproduto/acessorios">ACESSÓRIOS</a>
</ul>
