input {
  width: 400px;
  margin-top: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  font-size: 26px;
  margin-bottom: 2px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
