.main {
  display: grid;
  justify-content: center;
}

.pokemons {
  flex-direction: row;
  border: 3px solid white;
  margin: 10px;
  border-radius: 15px;
  width: 460px;
  justify-content: center;
  color: white;
}

.pokemons img {
  width: 400px;
}

.pokemons p {
  margin: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 34px;
  font-weight: bold;
}

.pokemons p:hover {
  font-size: 37px;
  transition: 0.7s;
  text-decoration: underline cornflowerblue;
}
